<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="MDB">
        <property name="hibernate.connection.driver_class">sun.jdbc.odbc.JdbcOdbcDriver</property>
        <property name="hibernate.connection.url">jdbc:odbc:Driver={Microsoft Access Driver (*.mdb)};DBQ=c:/Simpa/bd1.mdb</property>
        <property name="hibernate.dialect">com.hxtt.support.hibernate.HxttAccessDialect</property>
    </session-factory>
</hibernate-configuration>
